.about {
    position: relative;
    z-index: 1;
    overflow: hidden;
    &__container.text-animating {
        .blur-text .char {
            filter: blur(0) !important;
            opacity: 1 !important;
        }
        .about__txt {
            opacity: 1;
            transform: translateX(0);
        }
    }
    .item-about,
    &__container {
        opacity: 0;
    }
    &__container {
        transition: opacity 0.5s linear;
        .blur-text .char {
            filter: blur(10px);
            opacity: 0;
        }
    }
    &__inner {
        text-align: center;
    }
    &__cards {
        h3,
        .h3 {
            font-family: var(--font-family-secondary);
            font-weight: 700;
        }
    }
    &__items {
        margin: 32px 0 24px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    &__txt {
        transform: translateX(-40px);
        opacity: 0;
        transition: 0.7s cubic-bezier(0, 0, 0.2, 1);
        span {
            color: var(--coral-red-color);
        }
    }
    &__ribbons {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        transition: opacity 0.5s linear;
        pointer-events: none;
        &-path {
            stroke-miterlimit: 10;
            stroke-width: 400px;
        }
        &-path--1 {
            stroke: var(--coral-red-color);
        }
        &-path--2 {
            stroke: var(--light-gray-color);
        }
        &-path--3 {
            stroke: var(--bright-blue-color);
        }
        &-path--4 {
            stroke: var(--soft-blue-color);
        }
    }
    @media (max-width: $bp1) {
        .width-8col {
            max-width: 640px;
        }
    }
    @media (max-width: $bp2) {
        &__txt {
            .h3 {
                font-size: 16px !important;
            }
        }
        &__items {
            margin: 20px 0 32px;
        }
    }
    @media (max-width: $bp4) {
        &__items {
            display: grid;
            grid-template-columns: 1fr;
            gap: 12px;
        }
        &__ribbons {
            transform: scaleY(2);
            opacity: 0.2;
        }
        &__txt {
            text-align: center;
        }
    }
}
.item-about {
    padding: 50px 72px;
    flex: 0 0 32.04%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.08);
    transition: all 0.3s linear;
    &:before {
        content: "";
        display: block;
        width: 48px;
        height: 48px;
        background: url(../img/svg/list-check.svg) center / contain no-repeat;
        margin-bottom: 20px;
    }
    &:nth-child(3n + 1) {
        background: var(--pale-blue-color);
        transform: rotate(-6deg);
        margin: 191px -3.5% 0 0;
        position: relative;
        z-index: 1;
    }
    &:nth-child(3n + 2) {
        background: var(--light-gray-color);
    }
    &:nth-child(3n + 3) {
        background: var(--white-color);
        transform: rotate(6deg);
        margin: 124px 0 0 -3.5%;
    }
    h5 {
        cursor: default;
    }
    @media (min-width: $bp4) {
        &:hover {
            background: var(--white-color);
        }
    }
    @media (max-width: $bp1) {
        min-height: 173px;
        padding: 24px 20px;
        justify-content: center;
        h5 {
            max-width: 290px;
        }
        &:before {
            width: 35px;
            height: 35px;
            margin-bottom: 12px;
        }
        &:nth-child(3n + 1) {
            margin: 102px -1% 0 0;
            transform: rotate(-4deg);
        }
        &:nth-child(3n + 3) {
            margin: 100px 0 0 -1%;
            transform: rotate(4deg);
        }
    }
    @media (max-width: $bp2) {
        h5 {
            font-size: 14px;
        }
    }
    @media (max-width: $bp4) {
        min-height: 140px;
        h5 {
            max-width: 300px;
        }
        &:nth-child(3n + 1),
        &:nth-child(3n + 3) {
            transform: none;
            margin: 0;
        }
        &:nth-child(3n + 2) {
            background: var(--pale-blue-color);
        }
        &:nth-child(3n + 1) {
            background: var(--light-gray-color);
        }
    }
}
.about-reviews {
    background:
        url(../img/svg/logo-bg-dark.svg) center right / auto 100% no-repeat,
        var(--white-color);
    @media (max-width: $bp4) {
        background-position: center;
    }
}
.about-po {
    background:
        url(../img/svg/about-po-bg.svg) center / auto 100% no-repeat,
        var(--white-color);
    @media (min-width: $bp2) and (max-width: $bp1) {
        .width-6col {
            max-width: 740px;
            p,
            li {
                font-size: 20px;
            }
        }
    }
    @media (max-width: $bp4) {
        .width-6col {
            text-align: center;
            margin-left: auto;
        }
        .btn {
            max-width: 220px;
        }
    }
}
.requisites {
    .media-el {
        height: 100%;
        img {
            height: 100%;
        }
    }
    &__row {
        display: grid;
        grid-template-columns: 5fr 7fr;
        gap: 30px;
    }
    &__content {
        color: var(--dark-blue-color);
        padding: 30px;
        border-radius: 16px;
        background: var(--white-color);
    }
    &__title {
        margin-bottom: 20px;
    }
    &__details {
        margin-bottom: 16px;
        &--main {
            margin-bottom: 18px;
            .requisites__det dd {
                display: block;
                margin-top: 4px;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
        p {
            font-size: 14px;
            line-height: 1.2;
            color: var(--dark-gray-color);
            margin-bottom: 16px;
        }
    }
    &__det {
        margin-bottom: 4px;
        dt,
        dd {
            font-size: 14px;
            line-height: 1.2;
            display: inline;
        }
        dt {
            color: var(--dark-gray-color);
        }
    }
    @media (min-width: $bp2) and (max-width: $bp1) {
        &__title {
            font-size: 20px;
        }
    }
    @media (max-width: $bp1) {
        &__row {
            gap: 20px;
        }
        &__content {
            padding: 24px;
        }
        &__title {
            margin-bottom: 16px;
        }
        &__details {
            margin-bottom: 10px;
            &--main {
                margin-bottom: 16px;
            }
            p {
                margin-bottom: 10px;
            }
        }
    }
    @media (max-width: $bp2) {
        &__row {
            grid-template-columns: 1fr 1fr;
            gap: 20px 16px;
        }
        &__content {
            padding: 16px;
        }
    }
    @media (max-width: $bp3) {
        &__row {
            grid-template-columns: 1fr;
        }
    }
}
