.item-affiche {
    padding: 30px 0;
    border-top: 1px solid var(--light-gray-color);
    border-bottom: 1px solid var(--light-gray-color);
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr 2fr;
    gap: 16px 30px;
    align-items: center;
    &__date,
    &__place {
        display: grid;
        grid-template-columns: 1fr;
        gap: 12px;
    }
    &__time {
        color: var(--dark-gray-color);
    }
    &__clubs {
        display: grid;
        grid-template-columns: 114px 1fr 114px;
        gap: 10px;
    }
    &__club-logo {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        border: 1px solid var(--pale-blue-color);
        background: var(--white-color);
        position: relative;
        z-index: 1;
        overflow: hidden;
        padding: 23px;
        margin: 0 auto 12px;
        &:before {
            content: "";
            width: 72px;
            height: 72px;
            border-radius: 50%;
            background: var(--light-gray-color);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__club-name,
    &__club-separator {
        color: var(--dark-gray-color);
        text-align: center;
    }
    &__club-separator {
        margin: 42px auto 0;
    }
    &__tour {
        justify-self: center;
    }
    &__place-stadion {
        color: var(--dark-gray-color);
    }
    &__btns {
        justify-self: end;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    &__time-empty {
        font-weight: 600;
        color: var(--bright-blue-color);
        text-align: center;
    }
    @media (min-width: $bp1) {
        &__date,
        &__tour,
        &__place {
            font-size: 20px;
        }
    }
    @media (max-width: $bp1) {
        grid-template-columns: repeat(4, 3fr);
        align-items: start;
        gap: 16px 20px;
        &__tour {
            align-self: start;
            justify-self: start;
        }
        &__clubs {
            grid-template-columns: 100px 1fr 100px;
        }
        &__club-logo {
            width: 64px;
            height: 64px;
            padding: 14px;
            margin-bottom: 8px;
            &:before {
                content: "";
                width: 42px;
                height: 42px;
            }
        }
        &__club-name {
            font-size: 14px;
        }
        &__club-separator {
            margin-top: 20px;
        }
    }
    @media (max-width: $bp2) {
        gap: 16px;
    }
    @media (min-width: $bp3) and (max-width: $bp1) {
        grid-template-rows: auto 1fr;
        &__date,
        &__place {
            gap: 8px;
        }
        &__date {
            grid-template-columns: auto 1fr;
        }
        &__tour {
            grid-area: 2/1/3/2;
        }
        &__clubs,
        &__place,
        &__btns {
            grid-row: 1/3;
        }
    }
    @media (max-width: $bp3) {
        padding: 24px 0;
        grid-template-columns: 1fr 1fr;
        gap: 20px 16px;
        &__clubs,
        &__tour,
        &__btns {
            grid-column: 1/3;
        }
        &__date,
        &__place {
            gap: 4px;
            justify-self: center;
        }
        &__clubs {
            width: 100%;
            grid-template-columns: 1fr auto 1fr;
        }
        &__club-logo {
            margin: 0 auto 8px;
        }
        &__tour {
            margin: 0 auto;
        }
        &__place {
            grid-area: 1/2/2/3;
        }
        &__btns {
            justify-self: center;
        }
    }
}
.affiche {
    &__action {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 32px;
        .text-btn {
            flex-shrink: 0;
            margin: 16px 0 0 20px;
        }
    }
    &__filter {
        flex: 1 1 auto;
        .dropdown {
            max-width: 307px;
        }
    }
    @media (max-width: $bp1) {
        &__filter .dropdown {
            max-width: 218px;
        }
    }
    @media (max-width: $bp2) {
        &__action {
            flex-direction: column;
            .text-btn {
                margin: 24px 0 0 0;
            }
        }
        &__filter {
            width: 100%;
            .dropdown {
                max-width: calc(25% - 10px);
            }
        }
    }
    @media (max-width: $bp3) {
        &__filter {
            .dropdown {
                min-width: 215px;
                max-width: calc(33.33% - 10px);
            }
        }
    }
    @media (max-width: $bp4) {
        &__action .text-btn {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
