.breadcrumbs {
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        li {
            max-width: 100%;
            display: flex;
            align-items: center;
            &:after {
                content: "";
                display: block;
                width: 16px;
                height: 16px;
                background: var(--white-color);
                mask: url(../img/svg/chevron-right.svg) center / 16px 16px no-repeat;
                margin: 0 5px;
            }
            &:last-child {
                color: var(--coral-red-color);
                text-align: center;
                &::after {
                    display: none;
                }
            }
            a {
                color: var(--white-color);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}
.breadcrumbs + .section {
    padding-top: 70px;
    @media (max-width: $bp1) {
        padding-top: 54px;
    }
    @media (max-width: $bp2) {
        padding-top: 22px;
    }
}
