.po-aims {
    .specs__content {
        ol {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            li {
                height: 100%;
                align-content: start;
                margin-bottom: 0;
            }
        }
    }
    &__title {
        font-family: var(--font-family-secondary);
        text-transform: uppercase;
        text-align: center;
    }
    @media (max-width: $bp1) {
        .specs__content ol {
            gap: 20px;
        }
    }
    @media (max-width: $bp2) {
        .specs__content ol {
            gap: 16px;
        }
    }
    @media (max-width: $bp3) {
        .specs__content ol {
            grid-template-columns: 1fr;
            gap: 20px;
        }
    }
}
.po-review {
    .sec-top h2 {
        @media (max-width: $bp1) {
            max-width: 740px;
        }
    }
     @media (min-width: $bp2) and (max-width: $bp1) {
        p {
            font-size: 20px;
        }
     }
     @media (max-width: $bp4) {
        .btn {
            width: auto;
            min-width: 220px;
        }
     }
}
.po-feedback {
    .page-content {
        max-width: 691px;
        margin-top: 20px;
        &:first-child {
            margin-top: 0;
        }
        ul li {
            list-style: disc;
            padding: 0;
            margin: 0 0 0 24px;
            &::before {
                content: none;
            }
        }
    }
    .form__footer {
        text-align: left;
        .btn {
            width: 220px;
        }
    }
    &__inner {
        padding: 40px;
        border-radius: 20px;
        background: var(--soft-blue-color);
    }
    &__row {
        color: var(--black-color);
        padding: 40px;
        border-radius: 16px;
        background: var(--white-color);
    }
    &__subtitle {
        font-family: var(--font-family-secondary);
        color: var(--dark-blue-color);
        margin-bottom: 16px;
    }
    @media (min-width: $bp1) {
        background:
            url(../img/svg/logo-bg-light.svg) center right / auto 100% no-repeat,
            var(--dark-blue-color);
    }
    @media (max-width: $bp1) {
        .form__footer {
            .btn {
                width: 100%;
            }
        }
        &__inner {
            padding: 24px;
        }
        &__row {
            padding: 32px;
        }
    }
    @media (max-width: $bp2) {
        .page-content {
            p,li {
                font-size: 14px;
            }
        }
    }
    @media (max-width: $bp4) {
        &__inner {
            padding: 16px;
        }
        &__row {
            padding: 20px;
        }
    }
}
.po-gto {
    .tabs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 10px;
        margin-bottom: 20px;
        span {
            text-align: center;
        }
    }
    &__block {
        &--map {
            border-radius: 16px;
            overflow: hidden;
        }
    }
    &__list {
        height: 770px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .custom-scroll {
            flex: 1 1 auto;
            overflow: auto;
            padding-right: 28px;
            margin-right: -28px;
            &::-webkit-scrollbar-thumb {
                background: var(--pale-blue-color);
            }
        }
    }
    @media (min-width: $bp3) {
        .tabs {
            display: none;
        }
        &__blocks {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        &__block {
            display: block !important;
            &--map {
                position: relative;
                order: 1;
                border-radius: 0 16px 16px 0;
            }
        }
        &__list {
            border-radius: 16px 0 0 16px;
            border: 1px solid var(--soft-blue-color);
            background: var(--light-gray-color);
        }
        &__map {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    @media (max-width: $bp1) {
        &__list {
            height: 500px;
            padding: 24px;
            .custom-scroll {
                padding-right: 18px;
                margin-right: -18px;
            }
        }
    }
    @media (max-width: $bp3) {
        &__list {
            height: auto;
            max-height: 660px;
            padding: 0;
        }
        &__map {
            height: 540px;
        }
    }
}
.item-gto {
    padding-bottom: 28px;
    border-bottom: 2px solid var(--soft-blue-color);
    margin-bottom: 28px;
    cursor: pointer;
    &:last-child {
        margin-bottom: 0;
    }
    &.active {
        .item-gto__title {
            color: var(--coral-red-color);
        }
    }
    &.hide {
        display: none;
    }
    &__title {
        font-family: var(--font-family-secondary);
        margin-bottom: 8px;
        transition: all 0.3s linear;
    }
    .text-btn {
        font-weight: 500;
    }
    &__address {
        color: var(--dark-gray-color);
        margin-bottom: 8px;
    }
    @media (min-width: $bp1) {
        .text-btn,
        &__address {
            font-size: 20px;
        }
    }
    @media (max-width: $bp1) {
        &__title {
            font-size: 24px;
        }
    }
    @media (max-width: $bp3) {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}
