.main [data-print-block] {
    display: none;
}
/* .col-schedule,
.schedule__month {
    page-break-inside: avoid;
}
.schedule__month {
    page-break-after: avoid;
} */
@page {
    size: auto;
    margin: 0;
}
@media print {
    html,
    body {
        width: 100% !important;
        height: auto !important;
        overflow: visible !important;
        page-break-before: avoid;
        page-break-after: avoid;
    }
    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        background: white !important;
    }
    .main {
        padding: 0 !important;
    }
    .no-print {
        display: none;
    }
    .header,
    .footer,
    .main > * {
        display: none;
    }
    .main [data-print-block] {
        display: block !important;
    }
}
.schedule {
    &__top {
        padding: 12px 0;
        background: var(--dark-blue-color);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
        h2 {
            font-size: 28px;
            color: var(--white-color);
        }
    }
    &__filter {
        display: flex;
        flex-wrap: wrap;
        margin: 3px -2px -2px;
        &:empty {
            display: none;
        }
        span {
            font-size: 10px;
            color: var(--white-color);
            padding: 0 3px;
            border: 1px solid var(--white-color);
            border-radius: 2px;
            margin: 2px;
        }
    }
    &__logo {
        width: 98px;
    }
    &__top,
    &__month,
    &__cols {
        padding: 0 var(--container-offset);
    }
    &__month {
        font-size: 24px;
        color: var(--black-color);
        text-align: center;
        margin-bottom: 10px !important;
        margin-top: 10px;
    }
    &__cols {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 6px;
    }
}
.col-schedule {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: clamp(3px, 1.1vw, 6px);
    overflow: hidden;
    margin-top: 6px;
    page-break: avoid;
    page-break-inside: avoid;
    &.disabled {
        opacity: 0.2;
    }
    &--1 {
        grid-column: 1/2;
    }
    &--2 {
        grid-column: 2/3;
    }
    &--3 {
        grid-column: 3/4;
    }
    &--4 {
        grid-column: 4/5;
    }
    &--5 {
        grid-column: 5/6;
    }
    &--6 {
        grid-column: 6/7;
    }
    &--0 {
        grid-column: 7/8;
    }
    &__top,
    &__empty {
        font-size: 8px;
    }
    &__top {
        color: var(--white-color);
        padding: 5px 3px;
        background: var(--dark-blue-color);
        display: flex;
        align-items: center;
    }
    &__date {
        flex-shrink: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: var(--bright-blue-color);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 4px;
    }
    &__body {
        padding: 3px;
        flex: 1 1 auto;
        background: var(--light-gray-color);
    }
    &__empty {
        color: var(--dark-gray-color);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.item-schedule {
    padding: 3px;
    border-radius: 4px;
    background: var(--white-color);
    margin-bottom: 4px;
    &:last-child {
        margin-bottom: 0;
    }
    &__info,
    &__logos {
        margin-bottom: 4px;
    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__time {
        font-size: 7px;
        color: var(--white-color);
        flex-shrink: 0;
        width: clamp(15px, 25%, 45px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        background: var(--coral-red-color);
    }
    &__type {
        font-size: 6px;
        color: var(--dark-blue-color);
        padding: 1px 3px 2px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        white-space: nowrap;
        position: relative;
        z-index: 1;
        margin-left: -0.5px;
        &:before {
            content: "";
            width: 200%;
            height: 200%;
            position: absolute;
            top: -50%;
            left: -50%;
            background: var(--pale-blue-color);
            border-radius: 6px;
            border: 1px solid var(--dark-blue-color);
            transform: scale(0.5);
            transform-origin: center;
            z-index: -1;
        }
        img {
            width: 6px;
            height: 6px;
            margin-right: 2.5px;
            object-fit: contain;
        }
    }
    &__logos {
        display: flex;
    }
    &__logo {
        padding: 3px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: var(--white-color);
        margin-left: -6px;
        border: 1px solid var(--pale-blue-color);
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            border-color: var(--dark-blue-color);
            background: var(--dark-blue-color);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__clubs {
        font-size: 7px;
        color: var(--black-color);
        margin-bottom: 2px;
    }
    &__place {
        font-size: 4.2px;
        color: var(--dark-gray-color);
    }
    &__empty {
        color: var(--dark-gray-color);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
