.swiper {
	min-width: 0;
	overflow: hidden;
	position: relative;
}
.swiper-fade,
.swiper-wrapper {
	transform: translate3d(0, 0, 0);
}
.swiper-3d {
	perspective: 1200px;
}
.swiper-3d .swiper-wrapper {
	transform-style: preserve-3d;
}
.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide {
	transform-style: preserve-3d;
}
.swiper-horizontal {
	touch-action: pan-y;
}
.swiper-wrapper {
	height: 100%;
	display: flex;
}
.swiper-slide {
	display: block;
	flex-shrink: 0;
	flex-grow: 0;
}
.swiper-slide-active {
	z-index: 2;
}
.swiper-pagination {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-top: 26px;
}
.swiper-pagination-bullet {
	display: block;
	flex-shrink: 0;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	margin: 6px;
	background: rgba(240, 244, 247, 0.5);
	cursor: pointer;
	transition: all 0.2s linear;
	&:last-child {
		margin-right: 0 !important;
	}
	@media (max-width: $bp4) {
		width: 10px;
		height: 10px;
	}
}
.swiper-pagination-bullet-active {
	background: var(--bright-blue-color) !important;
	pointer-events: none;
}
.swiper-nav {
	display: flex;
	justify-content: center;
}
.nav-btn.swiper-button-disabled {
	opacity: 0.4;
}
