<!--header-->
@@if (main == true) {
<header class="header header--main fixed-block">
    }
    @@if (main == false) {
    <header class="header fixed-block">
        }
        <div class="container">
            <div class="header__inner">
                <a href="main.html" class="header__logo">
                    <svg><use xlink:href="img/svg/sprite.svg#logo"></use></svg>
                </a>
                <div class="header__nav">
                    <div class="header__nav-inner">
                        <div class="container">
                            <nav class="header__menu">
                                <ul>
                                    <li><a href="#">
                                        <span>Об организации</span>
                                        <svg><use xlink:href="img/svg/sprite.svg#chevron-right"></use></svg>
                                    </a></li>
                                    <li><a href="#">
                                        <span>Афиша</span>
                                        <svg><use xlink:href="img/svg/sprite.svg#chevron-right"></use></svg>
                                    </a></li>
                                    <li><a href="#">
                                        <span>Наши клубы</span>
                                        <svg><use xlink:href="img/svg/sprite.svg#chevron-right"></use></svg>
                                    </a></li>
                                    <li><a href="#">
                                        <span>Новости</span>
                                        <svg><use xlink:href="img/svg/sprite.svg#chevron-right"></use></svg>
                                    </a></li>
                                    <li><a href="#">
                                        <span>Спецпроекты</span>
                                        <svg><use xlink:href="img/svg/sprite.svg#chevron-right"></use></svg>
                                    </a></li>
                                </ul>
                            </nav>
                            <div class="header__contacts header__contacts--mob">
                                <a href="tel:+13565848798" class="item-contact">
                                    <svg><use xlink:href="img/svg/sprite.svg#phone"></use></svg>
                                    <span>+1 (356) 584-87-98</span>
                                </a>
                                <a href="mailto:info@nn-sport.ru" class="item-contact">
                                    <svg><use xlink:href="img/svg/sprite.svg#message"></use></svg>
                                    <span>info@nn-sport.ru</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__right">
                    <div class="header__contacts header__contacts--desktop">
                        <a href="tel:+13565848798" class="item-contact item-contact--phone">
                            <svg><use xlink:href="img/svg/sprite.svg#phone"></use></svg>
                            <span>+1 (356) 584-87-98</span>
                        </a>
                        <a href="mailto:info@nn-sport.ru" class="item-contact">
                            <svg><use xlink:href="img/svg/sprite.svg#message"></use></svg>
                            <span>info@nn-sport.ru</span>
                        </a>
                    </div>
                </div>
                <div role="button" class="icon-menu" aria-label="Открыть меню">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </header>