<!--item-member-->
@@if(context.memberHead === true && context.col2 === true) {
<div class="item-member item-member--head item-member--col2">
    }
    @@if(context.memberHead === true && context.col2 === false) {
    <div class="item-member item-member--head">
        }
        @@if(context.memberHead === false && context.col2 === true) {
        <div class="item-member item-member--col2">
            }
            @@if(context.memberHead === false && context.col2 === false) {
            <div class="item-member">
                }
                <span class="item-member__line"></span>
                <div class="item-member__inner">
                    <div class="media-cover item-member__logo">
                        @@if(nmb !== false) {
                        <img src="img/members/member-@@nmb.jpg" alt="@@name">
                        }
                    </div>
                    <div class="item-member__main">
                        <h5 class="item-member__name">@@name</h5>
                        @@if (pos2 == false) {
                        <p class="item-member__pos">@@pos1</p>
                        }
                        @@if (pos2 !== false) {
                        <ul>
                            <li class="item-member__pos">@@pos1</li>
                            <li class="item-member__pos">@@pos2</li>
                        </ul>
                        }
                    </div>
                    <div class="item-member__mod" data-title="@@modTitle1">
                        <h5>@@modPos1</h5>
                        <div class="page-content">
                            <p>1. Документальное сопровождение физкультурно-массовых мероприятий.</p>
                            <p>2. Подготовка и проведение мероприятий, направленных на популяризацию здорового образа жизни, физической культуры и спорта, создание
                                положительного
                                имиджа физкультуры и спорта и т.д.</p>
                            <p>3. Проведение работы, направленной на привлечение волонтеров к деятельности в сфере физической культуры и спорта, взаимодействие с волонтёрскими
                                организациями.</p>
                            <p>4. Осуществление деятельности, направленной на вовлечение населения в систематические занятия физической культурой и спортом, через активное
                                использование социальных сетей и других коммуникативных платформ.</p>
                            <p>5. Разработка инновационных предложений, направленных на совершенствование системы физической культуры и спорта в Нижегородской области.</p>
                            <p>6. Реализация комплекса мер, способствующего повышению удовлетворенности населения Нижегородской области от занятий физической культурой и
                                спортом.</p>
                            <p>7. Координация деятельности общественных некоммерческих организаций и служб, осуществляющих свою деятельность в области развития физической
                                культуры и
                                массового спорта в Нижегородской области.</p>
                            <p>8. Оказание содействия в разработке планов и программ по физической культуре и массовому спорту в Нижегородской области.</p>
                            <p>9. Согласование планов и программ по физической культуре и массовому спорту в Нижегородской области.</p>
                        </div>
                        @@if (modPos2 === true) {
                        <h4>@@modTitle2</h4>
                        <h5>@@modPos2</h5>
                        <div class="page-content">
                            <p>1. Документальное сопровождение физкультурно-массовых мероприятий.</p>
                            <p>2. Подготовка и проведение мероприятий, направленных на популяризацию здорового образа жизни, физической культуры и спорта, создание
                                положительного
                                имиджа физкультуры и спорта и т.д.</p>
                            <p>3. Проведение работы, направленной на привлечение волонтеров к деятельности в сфере физической культуры и спорта, взаимодействие с волонтёрскими
                                организациями.</p>
                            <p>4. Осуществление деятельности, направленной на вовлечение населения в систематические занятия физической культурой и спортом, через активное
                                использование социальных сетей и других коммуникативных платформ.</p>
                            <p>5. Разработка инновационных предложений, направленных на совершенствование системы физической культуры и спорта в Нижегородской области.</p>
                            <p>6. Реализация комплекса мер, способствующего повышению удовлетворенности населения Нижегородской области от занятий физической культурой и
                                спортом.</p>
                            <p>7. Координация деятельности общественных некоммерческих организаций и служб, осуществляющих свою деятельность в области развития физической
                                культуры и
                                массового спорта в Нижегородской области.</p>
                            <p>8. Оказание содействия в разработке планов и программ по физической культуре и массовому спорту в Нижегородской области.</p>
                            <p>9. Согласование планов и программ по физической культуре и массовому спорту в Нижегородской области.</p>
                        </div>
                        }
                    </div>
                </div>
            </div>